@tailwind base;
@tailwind components;
@tailwind utilities;

.body.dark {
    background-color: #1a202c; /* Dark background */
    color: white; /* Light text */
  }
  
  /* Tailwind default light theme */
 .body {
    background-color: #f3f4f6; /* Light background */
    color: black; /* Dark text */
  }
  
  /* You can add more specific customizations for light/dark mode if needed */